<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <form (ngSubmit)="submitSave()">
        <!-- TEXTAREA -->
        <div class="mb-3">
          <label for="opinionReceta" class="form-label">Opinión personal (opcional):</label>
          <textarea class="form-control" name="opinion-receta" id="opinionReceta" maxlength="250" rows="3" placeholder="Escriba su opinión sobre esta receta"
            [(ngModel)]="saveForm.notes"></textarea>
        </div>
        <!-- RADIO -->
        <div class="mb-3">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="estado" id="quieroHacerla" [value]="0"
              [(ngModel)]="saveForm.status">
            <label class="form-check-label" for="quieroHacerla">Quiero hacerla</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="estado" id="hecha" [value]="1"
              [(ngModel)]="saveForm.status">
            <label class="form-check-label" for="hecha">La he hecho</label>
          </div>
        </div>
        <!-- ESTRELLAS -->
        @if (saveForm.status === 1) {
        <div class="mb-3">
          <label for="valoracion" class="form-label">Valoración (1-5)</label>
          <input type="number" class="form-control" name="valoracion" id="valoracion" min="1" max="5"
            [(ngModel)]="saveForm.rating" required>
          @if (saveForm.rating === null || saveForm.rating < 1 || saveForm.rating > 5) {
            <p class="text-danger">Para guardar cambios esto tiene que tener un valor</p>
          }
        </div>
        }
        <!-- FECHA -->
        <div class="mb-3">
          <label for="fecha" class="form-label">Fecha del Guardado</label>
          <input type="date" class="form-control" name="fecha" id="fecha" [(ngModel)]="dateFormatted" readonly>
        </div>
        <!-- BOTONES -->
        <div class="d-flex gap-2">
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          <button type="reset" class="btn btn-secondary">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
