#alert-new-usuario.alert.alert-success.d-none(role="alert")
    | El Usuario se ha registrado correctamente. Inicia Sesión para disfrutar de todas las funcionalidades.
#alert-login-usuario.alert.alert-success.d-none(role="alert")
    | Bienvenido!!