footer.bg-white.border-top.mt-5.shadow-sm
            .container-lg
                .d-flex.flex-column.flex-md-row.justify-content-between.align-items-center.py-4
                    p.mb-2.mb-md-0.text-body-secondary
                        | © 2026 Desarrollo en Cliente · 
                        strong Alonso Almodóvar
                    i.bi.bi-bootstrap.fs-3.text-primary